/*VARIABLES*/
:root{

--color-text-body:#525260;
--color-primary: #5956e9;
--color-secondary: #FFF;
--color-banner: #2522BA;
--color-text-btn: #0d6efd;
--color-bg-btn: #ffdc6f; 
--color-subtitle: #BD6A7A; 
--color-title: #2A2B30; 
--color-box: #FAFAFA; 
--color-tarjeta-services: #f8f8f8;

}
/*ESTILOS GENERALES A TODA LA WEB */
html{
    font-size: 10px;
    overflow-x: hidden; /*Para que todo lo que sobre salga en el eje x este oculto*/
}

body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color:var(--color-text-body);
}

/*ESTRUCTURA*/
.layout{
    width: 100%;
    min-width: 1200px;
    height: 100%;
}

/*ESTILOS MENU NAVEGACION Y CABECERA DE LA WEB*/
.layout__menu{
    width: 100%;
    padding: 3.5rem 3rem;
}

.menu__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.navbar__logo{
    width: 187px;
}


.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav__item{
    position: relative;
    margin: 0 2.4rem;
}

.nav__title{
    position: relative; 
    display: inline-block;
    font-weight: 500;
    color: var(--color-text-body);
    transition: all 300ms ease-in-out;
    line-height: 6rem;
}

.nav__icon{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: middle;

}

/*Evento cuando paso por encima con el mouse*/
.nav__title:hover{
    color: var(--color-primary);
}

/*Efecto barra al hacer hover ----*/
/*Elemento puramente estetico*/
.nav__title::before{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 1.2rem; /*Mover la linea*/
    left:0;
    opacity:0;
    transition: 500ms ;
}

.nav__title:hover::before{
    width: 100%;
    opacity: 1;
}
/*----*/

/*Sub menus desplegables*/
.nav__submenu{
    display: block;
    position: absolute;

    top: 100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-secondary);
    border-radius: 0.4rem;
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    opacity: 0;
    visibility: hidden; 
    transition: all 300ms ease-in-out;
}

.submenu__item{
    opacity: 0;
    transform: translateX(2rem);
    transition: all 100mx ease-in-out;
}

/*con nth-child(1n) puedo seleccionar cualquiera de los item hijos de los submenus, ya sea 2n, 3n etc con esto haremos
que los items aparezcan de manera escalonada por tiempo*/
.submenu__item:nth-child(1n){
    transition-delay: 100ms;
}

.submenu__item:nth-child(2n){
    transition-delay: 200ms;
}

.submenu__item:nth-child(3n){
    transition-delay: 300ms;
}

.submenu__item:nth-child(4n){
    transition-delay: 400ms;
}

.submenu__title{
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);

    padding: 0.7rem 1.5rem;
    transition: all 300ms ease-in-out;
}

/*Para ver los submenu al hacer hover*/
/*Hijo directo de nav__item --> .nav__submenu*/
.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    left: 0;
}

/*Para dar efecto a cada item del submenu*/
.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
}

.submenu__title:hover{
    color: var(--color-primary);
}

.submenu__title::after{
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 300ms ease-in-out;

}

.submenu__title:hover::after{
    width: 100%;
}

/*ESTILOS PARA EL BANNER*/
.layout__banner{
    min-height: 60rem;
    position: relative;
    margin:0 3rem;
    padding-right: 0;
    padding-left: 10rem;
    padding-top: 15rem;
    padding-bottom: 20rem;

    border-radius: 6rem;
    overflow: hidden;
    background-color: var(--color-banner);
    
 

    z-index: 1;

}

.banner__content{
    position: relative; /*Coloco esto porque si no el index no funciona*/
    display: inline-block;
    width: 50%;
    padding: 0 1.5rem;
    z-index: 3; 
}

.banner__title{
    color: var(--color-secondary);
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.banner__btn{
     display: inline-block;

     padding: 2.8rem 4.5rem;

     background-color: var(--color-secondary);
     color: var(--color-text-btn);
     font-weight: bold;
     text-align: center;
     border-radius: 20px;
     box-shadow: 0px 45px 80px -25px var(--color-primary);
     font-size: 1.7rem;
     text-transform: capitalize;
     text-align: center;

}

.banner__btn:hover{
    background-color: var(--color-bg-btn);
    color: var(--color-text-body);
}

/*Ahora le daremos forma a las figuras/ imagenes*/

.shapes__item{
    position: absolute; /*Para controlar totalmente*/
    z-index: 2;
}

.shapes__item--shape1{
    text-align: right; /*Para mover la imagen a la derecha*/
    top: 0;
    right: 0;

    /*1. ANIMACION*/
    /*Quiero que surga desde la derecha*/
    animation-name: showRight;
    animation-duration: 1s;
}

/*1. PARA ANIMACION*/
@keyframes showRight{
    0%{ /*Al inicio*/
        /*Aplico una transformacion para mover el elemento*/
        transform: translateX(50%);
    }

    100%{
        transform: translateX(0%);
    }
}


.shapes__item--shape2{
    /*Para que este abajo y a la izquierda*/
    bottom: 0;
    left: 0;

        /*2. ANIMACION*/
    /*Quiero que surga desde la izquierda*/
    animation-name: showLeft;
    animation-duration: 1s;
}

/*2. PARA ANIMACION*/
@keyframes showLeft{
    0%{ /*Al inicio*/
        /*Aplico una transformacion para mover el elemento*/
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0%);
    }
}


.shapes__item--shape3{
    /*Esto coloca una burbuja blanca en un sitio*/
   top: 34%; /*Mover hacia arriba o abajo aumentando o disminuyendo el % */
   left: 50%;

   /*4. ANIMACION*/
   animation: moveShape3 20s infinite;
}

/*4. ANIMACION*/
@keyframes moveShape3{
    0%{
        transform: translateX(0) translateY(0);
    }

    40%{
        transform: translateX(50px) translateY(-200px);
    }

    75%{
        transform: translateX(800px);
    }

    100%{
        transform: translateX(0) translateY(0);
    }
}

.shapes__item--shape4{
    /*Esto coloca una burbuja morada en un sitio*/
    bottom: 24rem; /*Mueve arriba o abajo*/
    left: 45%;

    /*5. ANIMACION*/
    animation: moveShape4 30s infinite;
}

/*5. ANIMACION*/
@keyframes moveShape4{
    0%{
        transform: translateX(0) translateY(0);
    }

    40%{
        transform: translateX(-50px) translateY(200px);
    }

    75%{
        transform: translateX(-500px);
    }

    100%{
        transform: translateX(0) translateY(0);
    }
}

.shapes__item--shape4 .shapes__img{
    /*Esto porque en el diseño original la burbuja tiene menor opacidad*/
    opacity: 0.5;
    width: 7.5rem;
}

.shapes__item--shape5{
    /*Esto coloca una burbuja morada en un sitio*/
    bottom: 12rem; /*Mueve arriba o abajo*/
    left: 53%;
    opacity: 0.7;

    /*6. ANIMACION*/
    animation: moveShape5 45s infinite;
}

/*6. ANIMACION*/
@keyframes moveShape5{
    0%{
        transform: translateX(0) translateY(0);
    }

    40%{
        transform: translateX(-600px) translateY(-500px);
    }

    75%{
        transform: translateX(30px) translateY(-800px);
    }

    100%{
        transform: translateX(0) translateY(0);
    }
}



.shapes__item--shape6{
    /*Esto coloca una burbuja morada en un sitio*/
    bottom: 10rem; /*Mueve arriba o abajo*/
    left: 40%;

    /*7. ANIMACION*/
    animation: moveShape3 35s infinite;
}

.shapes__item--shape7{
    /*Esto coloca una burbuja morada en un sitio*/
    top: 0; /*Mueve arriba o abajo*/
    right:10rem;
    z-index: 1;

    /*3. ANIMACION*/
    /*Quiero que surga desde arriba*/
    animation: showTop 1s;

}

/*3. PARA ANIMACION*/
@keyframes showTop{
    0%{ /*Al inicio*/
        /*Aplico una transformacion para mover el elemento*/
        transform: translateY(-50%);
    }

    100%{
        transform: translateY(0%);
    }
}


/*ESTILOS SECCION SERVICIOS*/
.layout__services{
    position: relative;
    margin: 5rem 4rem;
    z-index: 1;

    border: 1px solid blue;

}

.services__grid{
    border: 1px solid red;
    max-width: 1320px;
    margin: 0 auto;
}

.services__header{
    margin-bottom: 2rem;
    text-align: left;
    border: 1px solid black;
}

.services__subtitle{
    font-size:  2rem;
    color: var(--color-subtitle);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.services__title{
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-title);

}

.services__list{
    display:flex;
    flex-direction: row;
    gap: 3rem; /*Para tener espacio entre las cajas (Articulos)*/

}

.services__service{
    width: 33%; /*Para que se extiendan las cajas en toda la caja mas grande, si no se quedan muy pegadas*/
    padding: 5rem 4rem; /*Para que haya espacio dentro de las cajas*/
    height: 100%; /*Para que la caja agarre un tamaño automatico de acuerdo al contenido de adentro,
    asi si los muevo de lugar los elementos no se alargan*/
    border-radius: 3rem;
    margin-bottom: 3rem;


    /*Para el degradado de las cajas (Articulos)*/
    background: linear-gradient(180deg, var(--color-tarjeta-services), rgba(255, 255, 255,0 ));
    background-color: var(--color-secondary);

    border: 1px solid;
    border-image-source: linear-gradient(180deg, var(--color-tarjeta-services), rgba(255, 255, 255, 0)); /*El 0 es para la opacidad*/

    transition: all 300ms ease-in-out;

    /*Esto porque quiero que los elementos se comporten como una fila, es decir la imagen y 
    el texto que esten en fila y no uno arriba del otro*/
    display: flex;
    flex-direction: row;
}

/*Hover sirve para hacer efectos al pasar por encima del elemento*/
.services__service:hover{
    background-color: var(--color-tarjeta-services);
    
}

.service__container-img{
    margin-right: 2.5rem;
    max-width: 8.5rem;
    flex: 1; /*Para repartir el espacio entre service__content, usar esta propiedad es como si 
    combinaras flex flow (para que el espacio se amplie a nivel 1), flex basis(estamos estableciendo esto en 0
    es decir no estamos estableciendo ningun ancho al poner 1 en flex 1), y flex shrink (Para que encoja los elementos
    de manera equitativa)*/
}

.service__content{
    flex:1; /*Para repartir el espacio entre service__container-img*/
}

/*Estilos al encabezado*/
.service__title{
    color:var(--color-title);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.service__description{
    font-size: 1.7rem;

    overflow: hidden; /*Para que ningun elemento se salga de la caja*/
    margin-bottom: 4rem;
}

/*Estilos a Leer mas*/
.service__more{
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding-left: 5rem;

    transition: all 300ms ease-in-out;
}

/*Colocar linea al lado de leer mas*/
.service__more::before{
    position: absolute;
    top: 50%;
    content: "";
    width: 3.4rem;
    height: 1.5px;
    background-color: var(--color-text-body);
    left: 0;
    transition: all 300ms ease-in-out;
}

.service__more:hover,
.service__title:hover{
    color: var(--color-primary);
}

.service__more:hover::before{
    background-color: var(--color-primary);
}

/*Efecto escalonado en tarjetas usando los modificadores que habiamos puesto en HTML*/
/*ESCALONADO DE TARJETAS DE SERVICIOS*/
.services__service--bottom{
    margin-top: 20rem;
}

.services__service--middle{
    margin-top: 10rem;
}

.services__service--top{
    margin-top: 0rem;
}








